<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="wxEnumDialog">
		<size>391,232</size>
		<id_arg>0</id_arg>
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
			<pos>8,8</pos>
			<size>376,168</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Name</label>
			<pos>48,40</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txtName" member="yes">
			<pos>88,32</pos>
			<size>280,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Description</label>
			<pos>24,64</pos>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
			<pos>8,176</pos>
			<size>376,48</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="btnOK" member="yes">
			<label>OK</label>
			<pos>232,192</pos>
			<size>70,23</size>
			<handler function="OnbtnOKClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="btnCancel" member="yes">
			<label>Cancel</label>
			<pos>304,192</pos>
			<size>70,23</size>
			<handler function="OnbtnCancelClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="txtDescription" member="yes">
			<pos>88,64</pos>
			<size>280,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Value</label>
			<pos>24,96</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txtValue" member="yes">
			<value>0</value>
			<pos>88,96</pos>
			<size>80,21</size>
			<validator>m__vldNum</validator>
			<style>wxTE_RIGHT</style>
		</object>
		<object class="wxSpinButton" name="ID_SPINBUTTON1" variable="btnValue" member="yes">
			<max>100</max>
			<pos>168,96</pos>
			<size>17,24</size>
			<handler function="OnbtnValueChangeUp" entry="EVT_SPIN_UP" />
			<handler function="OnbtnValueChangeDown" entry="EVT_SPIN_DOWN" />
		</object>
	</object>
</wxsmith>
